.turn {
  text-align: center;
  font-weight: bold;
  margin: 0.5em;
}

.playerTurn {
  color: red;
}


.activeCell {
  background-color: rgb(163, 113, 47);
}

.board {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  justify-content: center;
}

.board>div {
  /* border: 1px solid #777; */
  /* box-shadow: 0 10px 6px -6px #777; */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.isRed {
  background-color: red;
  box-shadow: 0 1.5px 3px white;
}

.isBlack {
  background-color: black;
  box-shadow: 0 1.5px 3px white;
}

.selectedCell {
  background-color: #0A0;
}

@media only screen and (max-width: 576px) {
  .cell {
    padding: 0.5em;
  }
  .piece {
    height: 1.75em;
    width: 1.75em;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 576px) {
  .cell {
    padding: 1em;
  }
  .piece {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
  }
}